* {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    cursor: default;
    margin: 0;
}

p {
    font-size: 17px;
    cursor: default;
}

html, body {
    overflow: hidden;
    height: 100%;
    background-color: #2B2724;
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.player {
    cursor: pointer;
    height: 140px;
    width: 112px;
    float: left;
    border: 3px solid white;
}

    .player:not(:first-child) {
        margin-left: 2px;
    }

    .player.selected {
        border: 3px solid black;
    }

    .player > img {
        opacity: 0.7;
    }

    .player.selected > img {
        opacity: 1;
    }


.missionPanel {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

    .missionPanel img {
        height: 150px;
    }

.missionCard {
    float: left;
    position: relative;
}

    .missionCard:not(:first-child) {
        margin-left: 20px;
    }

    .missionCard img {
        height: 396px;
        width: 257px;
        border-radius: 24px;
    }

    .missionCard p {
        position: absolute;
        font-size: 18px;
        text-align: left !important;
        top: 100px;
        left: 20px;
        right: 20px;
        padding:5px;
        background-color:rgba(255,255,255,0.4);
    }

    .missionCard .replaceButton {
        height: 50px;
        width: 50px;
        background-image: url(../img/missionicon.png);
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: white;
    }

    .missionCard .fulfillButton {
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: yellow;
        opacity: 0.4;
    }

    .missionCard .explainReward {
        height: 70px;
        width: 70px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .missionCard .explainCondition {
        height: 110px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

.monsterBoard {
    position: relative;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

    .monsterBoard .dice {
        position: absolute;
        top: 90px;
        left: 230px;
        z-index: 3;
    }

    .monsterBoard.controlled {
        visibility: hidden;
    }

    .monsterBoard.dead {
        opacity: 0.3;
    }

    /*
    .monsterBoard:hover {
        z-index: 2;
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    */

    .monsterBoard img.board {
        width: 381px;
        height: 200px;
    }

    .monsterBoard img.heart {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 2;
        top: 88px;
    }

    .monsterBoard.ulumutu img.heart1 {
        left: 17px;
    }

    .monsterBoard.zipfler img.heart1, .monsterBoard.ulumutu img.heart2 {
        left: 55px;
    }

    .monsterBoard.wallrog img.heart1, .monsterBoard.zipfler img.heart2, .monsterBoard.ulumutu img.heart3 {
        left: 97px;
    }

    .monsterBoard.wallrog img.heart2, .monsterBoard.zipfler img.heart3, .monsterBoard.ulumutu img.heart4 {
        top: 86px;
        left: 154px;
        width: 45px;
        height: 45px;
        z-index: 3;
    }

    .monsterBoard img.level {
        position: absolute;
        z-index: 2;
    }

    .monsterBoard img.level1 {
        position: absolute;
        top: 70px;
        left: 144px;
        height: 95px;
    }

    .monsterBoard img.level2 {
        position: absolute;
        top: 68px;
        left: 142px;
        height: 100px;
    }

    .monsterBoard img.level3 {
        position: absolute;
        top: 65px;
        left: 141px;
        height: 105px;
    }

    .monsterBoard img.level4 {
        position: absolute;
        top: 62px;
        left: 141px;
        height: 110px;
    }

    .monsterBoard img.level5 {
        position: absolute;
        top: 59px;
        left: 135px;
        height: 122px;
    }



.playerBoard {
    position: relative;
    width: 400px;
    height: 200px;
    float: left;
}

    .playerBoard .dice {
        position: absolute;
        right: 270px;
        top: 110px;
        z-index: 3;
    }

.showOverFade {
    z-index: 103;
}

.playerBoard.other {
    float: none;
    margin: 0 auto;
}


.attackButtons {
    position: absolute;
    bottom: -73px;
    width: 400px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

    .attackButtons .btn:first-child {
        margin-right: 20px;
    }


.actionPanel {
    float: left;
}

    .actionPanel button {
        display: block;
    }


img.item.discardable {
    width: 36px;
    height: 36px;
    margin-right: 5px;
}


.playerPortait {
    position: relative;
    float: left;
    margin-right: -65px;
}



    .playerPortait img {
        border: 3px solid black;
    }

    .playerPortait.next4 img {
        height: 100px;
        margin-top: 5px;
    }

    .playerPortait.next3 img {
        height: 110px;
    }

    .playerPortait.next2 img {
        height: 120px;
        margin-top: -5px;
    }

    .playerPortait.next1 img {
        height: 130px;
        margin-top: -10px;
    }

    .playerPortait.next0 img {
        height: 140px;
        margin-top: -15px;
    }

.playerBoard img.board {
    width: 400px;
    height: 200px;
}

.playerBoard img.item {
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 2;
}

.playerBoard img.bootItem {
    top: 60px;
    left: 253px;
}

.playerBoard img.ringItem {
    top: 105px;
    left: 253px;
}

.playerBoard img.swordItem {
    top: 151px;
    left: 253px;
}

.playerBoard.luphius img.bootItem {
    left: 210px;
}

.playerBoard.luphius img.ringItem {
    left: 210px;
}

.playerBoard.luphius img.swordItem {
    left: 210px;
}

.playerBoard.luphius img.potion1Item {
    top: 152px;
    left: 309px;
}

.playerBoard img.potion1Item {
    top: 152px;
    left: 332px;
}

.playerBoard.luphius img.backpack1Item {
    top: 63px;
    left: 267px;
}

.playerBoard img.backpack1Item, .playerBoard.luphius img.backpack2Item {
    top: 63px;
    left: 309px;
}

.playerBoard img.backpack2Item, .playerBoard.luphius img.backpack3Item {
    top: 63px;
    left: 353px;
}

.playerBoard img.backpack3Item {
    top: 106px;
    left: 333px;
}

.playerBoard.luphius img.backpack4Item {
    top: 106px;
    left: 287px;
}

.playerBoard.luphius img.backpack5Item {
    top: 106px;
    left: 330px;
}

.playerBoard img.heart {
    width: 38px;
    height: 38px;
    position: absolute;
    z-index: 2;
}

.playerBoard.nathaniel img.heart1 {
    top: 11px;
    left: 107px;
}

.playerBoard.nathaniel img.heart2 {
    top: 11px;
    left: 148px;
}

.playerBoard img.heart1, .playerBoard.nathaniel img.heart3 {
    top: 11px;
    left: 188px;
}

.playerBoard img.heart2, .playerBoard.luphius img.heart1, .playerBoard.nathaniel img.heart4 {
    top: 11px;
    left: 229px;
}

.playerBoard img.heart3, .playerBoard.luphius img.heart2, .playerBoard.nathaniel img.heart5 {
    top: 11px;
    left: 269px;
}

.playerBoard img.heart4, .playerBoard.luphius img.heart3, .playerBoard.nathaniel img.heart6 {
    top: 11px;
    left: 309px;
}

.playerBoard img.heart5, .playerBoard.luphius img.heart4, .playerBoard.nathaniel img.heart7 {
    top: 11px;
    left: 350px;
}

.playerBoard.other img {
    cursor: default;
}

.playerBoard div.pointLabel {
    position: absolute;
    top: 11px;
    left: -30px;
    background-image: url(../img/tooth1.png);
    background-size: cover;
    height: 78px;
    width: 50px;
    text-align: center;
    z-index: 2;
}

    .playerBoard div.pointLabel span {
        font-family: 'FETTECKE';
    }

        .playerBoard div.pointLabel span:first-child {
            padding-top: 20px;
            font-size: 20px;
            display: block;
            font-weight: bold;
        }

        .playerBoard div.pointLabel span:last-child {
            font-size: 10px;
            display: block;
            font-weight: bold;
        }

.stepBox {
    margin-top: 50px;
    height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
}

    .stepBox img {
        position: absolute;
        bottom: 0px;
        left: 5px;
        height: 100px;
    }

    .stepBox span {
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        bottom: 21px;
        left: 37px;
        pointer-events: none;
        font-family: 'FETTECKE';
    }


.dialog .dialogTile, .dialog .dialogTileSmall {
    float: left;
    margin-right: 10px;
}

    .dialog .dialogTile.alignToP {
        margin-top: 20px;
    }

.dialog .dialogTileSmall {
    width: 100px;
}

.dialog .winDialog .dialogTileSmall {
    float: none;
    margin-top: 15px;
}


.dialog .dialogSelect {
    float: right;
}

.dialog .actionPanel {
    clear: both;
    text-align: center;
    width: 100%;
}

.dialog .smith .actionLine, .dialog .trader .actionLine, .dialog .castle .actionLine {
    margin-bottom: 5px;
}

.dialog .smith img.item, .dialog .trader img.item, .dialog .castle img.item {
    width: 36px;
    height: 36px;
    opacity: 0.3;
}

    .dialog .smith img.item.clickable, .dialog .trader img.item.clickable, .dialog .castle img.item.clickable {
        opacity: 0.7;
    }

    .dialog .smith img.item.available, .dialog .trader img.item.available, .dialog .castle img.item.available {
        opacity: 1.0;
    }

.dialog .contact {
    clear: both;
    margin-top: 10px;
}

    .dialog .contact input, .dialog .contact textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .dialog .contact textarea {
        height: 100px;
    }

    .dialog .contact .error {
        border: solid 3px red;
    }

#loading {
    display: block;
    width: 900px;
}

html.no-js #loading {
    display: none;
}

#errorScreen {
    display: none;
    width: 300px;
}

html.no-js #errorScreen {
    display: block;
}

#loading, #errorScreen {
    margin: 100px auto;
    position: relative;
    text-align: center;
    color: #AE9867;
}

    #loading a, #errorScreen a {
        color: #AE9867;
    }

/*
    #loading > img {
        -webkit-animation: turnLogo 3s linear infinite;
        animation: turnLogo 3s linear infinite;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }


@keyframes turnLogo {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

@-webkit-keyframes turnLogo {
    from {
        -webkit-transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(-360deg);
    }
}
    */


#tutorial {
    display: none;
    position: absolute;
    z-index: 101;
    width: 260px;
    height: 245px;
    overflow: hidden;
}

    #tutorial.inFront {
        z-index: 105;
    }

    #tutorial.tr {
        background-image: url(../img/bubbletr.png);
        padding-left: 15px;
        padding-right: 25px;
        padding-top: 10px;
    }

    #tutorial.br {
        background-image: url(../img/bubblebr.png);
        padding-left: 15px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    #tutorial.tl {
        background-image: url(../img/bubbletl.png);
        padding-left: 25px;
        padding-right: 15px;
        padding-top: 10px;
    }

    #tutorial.bl {
        background-image: url(../img/bubblebl.png);
        padding-left: 25px;
        padding-right: 15px;
        padding-bottom: 10px;
    }

    #tutorial h4 {
        margin-top: 16px;
    }

    #tutorial p {
        margin-top: 10px;
        text-align: justify;
    }

    #tutorial.bl .btn {
        position: absolute;
        bottom: 25px;
        right: 20px;
    }

    #tutorial.br .btn {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }

    #tutorial.tl .btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    #tutorial.tr .btn {
        position: absolute;
        bottom: 20px;
        right: 25px;
    }


#fade {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 102;
}

#overlay {
    display: none;
    position: absolute;
    margin: 0 auto;
    padding: 25px;
    border: 3px solid black;
    background-color: #ffffff;
    left: 0;
    right: 0;
    width: 600px;
    top: 50px;
    z-index: 103;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

    #overlay p {
        text-align: justify;
    }

    #overlay.withoutBorder {
        background-color: transparent;
        padding: 0;
        border: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

#githubButton {
    right: 0;
}

#kickstarterButton {
    right: 60px;
}

#contactButton {
    right: 120px;
}

#helpButton {
    right: 180px;
}

#alchemyButton {
    right: 240px;
}

.tabButton {
    position: absolute;
    width: 40px;
    height: 30px;
    top: -20px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border: 3px solid #000000;
    border-top: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: none;
}


.shadowed {
    /*
        -webkit-filter: drop-shadow(1px 2px 2px #000);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#000')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#000')";
    */
}


.clickable {
    cursor: pointer;
}

    .clickable.animated {
        -webkit-filter: drop-shadow(1px 2px 5px #FF0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#FF0')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=2, Color='#FF0')";
    }


.rewards {
    text-align: center;
    margin-bottom: 30px;
}

.diceWhite, .diceBlack, .diceTreasure {
    background-size: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.diceWhite {
    background-image: url("../img/dicewhite.png");
}

.diceBlack {
    background-image: url("../img/diceblack.png");
}

.diceTreasure {
    background-image: url("../img/dicetreasure.png");
    margin-right: 20px;
}


    .diceWhite.dice1, .diceBlack.dice1, .diceTreasure.dice1 {
        background-position: 0px 0px;
    }

    .diceWhite.dice2, .diceBlack.dice2, .diceTreasure.dice2 {
        background-position: -100px 0px;
    }

    .diceWhite.dice3, .diceBlack.dice3, .diceTreasure.dice3 {
        background-position: -200px 0px;
    }

    .diceWhite.dice4, .diceBlack.dice4, .diceTreasure.dice4 {
        background-position: -300px 0px;
    }

    .diceWhite.dice5, .diceBlack.dice5, .diceTreasure.dice5 {
        background-position: -400px 0px;
    }

    .diceWhite.dice6, .diceBlack.dice6, .diceTreasure.dice6 {
        background-position: -500px 0px;
    }

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
    box-shadow: 0px 1px 3px #000000;
    color: #ffffff;
    font-size: 20px;
    background: #6e6e6e;
    padding: 10px 20px 10px 20px;
    border: solid #000000 3px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
}

    .btn:hover {
        background: #8a8a8a;
    }

    .btn.disabled {
        cursor: default;
    }

        .btn.disabled:hover {
            background: #6e6e6e;
        }


#overlay .btn {
    float: right;
}

    #overlay .btn.leftAligned {
        float: left;
    }

    #overlay .btn.topSpace {
        margin-top:20px;
    }


.arrow-right, .arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.arrow-right {
    border-left: 5px solid black;
}

.arrow-left {
    border-right: 5px solid black;
}

@font-face {
    font-family: 'FETTECKE';
    src: url('../fonts/FETTECKE.ttf.woff') format('woff'), url('../fonts/FETTECKE.ttf.svg#FETTECKE') format('svg'), url('../fonts/FETTECKE.ttf.eot'), url('../fonts/FETTECKE.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */

p,
pre {
    margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
    quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}